In [1]:
import pandas as pd
import csv, sqlite3

con = sqlite3.connect("FinalDB.db")

cur = con.cursor()

!pip install -q pandas==1.1.5 ipython-sql

%load_ext sql
%sql sqlite:///FinalDB.db

'Connected: @FinalDB.db'

In [4]:
import pandas

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv")
df.to_sql("CHICAGO_PUBLIC_SCHOOLS_DATA", con, if_exists='replace', index=False, method="multi")

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv")
df.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

In [ ]:
#Problem 1
#Find the total number of crimes recorded in the CRIME table.

In [3]:
!pip install -q pandas==1.1.5 ipython-sql

%load_ext sql

%sql sqlite:///FinalDB.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @FinalDB.db'

In [5]:
%%sql 
SELECT COUNT(*) AS TOTAL_CRIMES 
FROM CHICAGO_CRIME_DATA;

 * sqlite:///FinalDB.db
Done.

[(533,)]

In [7]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///FinalDB.db
Done.

[('CENSUS_DATA',), ('CHICAGO_PUBLIC_SCHOOLS_DATA',), ('CHICAGO_CRIME_DATA',)]

In [ ]:
%%sql
SELECT *
FROM census_data;

In [ ]:
#Problem 2
#List community area names and numbers with per capita income less than 11000

In [6]:
%%sql
SELECT *
FROM census_data
WHERE per_capita_income < 11000;

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park', 9.4, 41.7, 25.8, 24.5, 43.6, 10934, 92.0),
 (30.0, 'South Lawndale', 15.2, 30.7, 15.8, 54.8, 33.8, 10402, 96.0),
 (37.0, 'Fuller Park', 3.2, 51.2, 33.9, 26.6, 44.9, 10432, 97.0),
 (54.0, 'Riverdale', 5.8, 56.5, 34.6, 27.5, 51.5, 8201, 98.0)]

In [ ]:
%%sql
SELECT *
FROM CHICAGO_CRIME_DATA;

In [ ]:
%%sql
SELECT case_number
FROM CHICAGO_CRIME_DATA

In [7]:
%%sql 
SELECT community_area_number
FROM CHICAGO_CRIME_DATA
GROUP BY community_area_number
ORDER BY COUNT(*) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

In [ ]:
%%sql
PRAGMA table_info(CHICAGO_CRIME_DATA);

In [ ]:
#Problem 3
#List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)¶

In [12]:
%%sql
select case_number,primary_type,description 
FROM CHICAGO_CRIME_DATA
where description like '%MINOR%'

 * sqlite:///FinalDB.db
Done.

[('HL266884', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR')]

In [ ]:
#Problem 4
#List all kidnapping crimes involving a child?¶

In [10]:
%%sql
select case_number,primary_type 
FROM CHICAGO_CRIME_DATA
where primary_type ='OFFENSE INVOLVING CHILDREN'

 * sqlite:///FinalDB.db
Done.

[('HN567387', 'OFFENSE INVOLVING CHILDREN'),
 ('HR391350', 'OFFENSE INVOLVING CHILDREN'),
 ('HM768251', 'OFFENSE INVOLVING CHILDREN'),
 ('HT394616', 'OFFENSE INVOLVING CHILDREN')]

In [11]:
%%sql
select case_number,primary_type 
FROM CHICAGO_CRIME_DATA
where primary_type like '%KIDNAP%'

 * sqlite:///FinalDB.db
Done.

[('HN144152', 'KIDNAPPING')]

In [ ]:
#kidnapping crimes involving a child

In [45]:
%%sql
SELECT * 
FROM CHICAGO_CRIME_DATA 
WHERE PRIMARY_TYPE = 'KIDNAPPING' AND DESCRIPTION LIKE '%CHILD%'

 * sqlite:///FinalDB.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [ ]:
#Problem 5
#List the kind of crimes that were recorded at schools. (No repetitions)

In [15]:
%%sql
select *
FROM CHICAGO_CRIME_DATA
where location_description like '%SCHOOL%'

 * sqlite:///FinalDB.db
Done.

[(4006321, 'HL353697', '2005-05-04', '077XX S BURNHAM AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 421, 4, 7.0, 43.0, '08B', 1196066.0, 1854156.0, 2005, 41.75469107, -87.55703869, '(41.754691074, -87.557038686)'),
 (4430638, 'HL725506', '2005-11-09', '048XX N FRANCISCO AVE', '484', 'BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING', 1, 0, 2031, 20, 40.0, 4.0, '08B', 1156348.0, 1932071.0, 2005, 41.96938944, -87.70048881, '(41.96938944, -87.700488807)'),
 (6644618, 'HP716225', '2008-12-04', '030XX S DR MARTIN LUTHER KING JR DR', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', 0, 0, 2112, 1, 2.0, 35.0, '08B', 1179306.0, 1885032.0, 2008, 41.83981621, -87.61751617, '(41.839816207, -87.617516172)'),
 (2341955, 'HH639427', '2002-09-10', '005XX N WALLER AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', 0, 0, 1512, 15, 29.0, 25.0, '08B', 1138238.0, 1903181.0, 2002, 41.89045993, -87.76778089, '(41.890459933, -87.767780886)'),
 (11110571, 'JA460432', '2017-10-05', '076XX S HOMAN AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 835, 8, 18.0, 70.0, '08B', 1155024.0, 1853614.0, 2017, 41.75412154, -87.70746025, '(41.754121535, -87.707460248)'),
 (7399281, 'HS200939', '2010-03-10', '053XX W CONGRESS PKWY', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 1522, 15, 29.0, 25.0, '14', 1140822.0, 1897164.0, 2010, 41.8739014, -87.7584391, '(41.873901397, -87.758439102)'),
 (3530721, 'HK577020', '2004-08-23', '016XX W JONQUIL TER', '2024', 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS', 1, 0, 2422, 24, 49.0, 1.0, '18', 1163893.0, 1951001.0, 2004, 42.0211776, -87.67220843, '(42.021177601, -87.67220843)'),
 (7502426, 'HS305355', '2010-05-13', '035XX S WASHTENAW AVE', '1821', 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING', 1, 0, 913, 9, 12.0, 58.0, '18', 1158944.0, 1880896.0, 2010, 41.82890791, -87.69234919, '(41.828907913, -87.692349187)'),
 (8082600, 'HT315369', '2011-05-26', '032XX W ADAMS ST', '545', 'ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 1124, 11, 28.0, 27.0, '08A', 1154752.0, 1898890.0, 2011, 41.87837031, -87.70724814, '(41.878370307, -87.707248137)'),
 (7174283, 'HR585012', '2009-10-13', '043XX W 79TH ST', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS', 1, 0, 834, 8, 13.0, 70.0, '26', 1148764.0, 1851854.0, 2009, 41.74941446, -87.7304466, '(41.749414464, -87.730446597)'),
 (2075734, 'HH292682', '2002-04-05', '016XX W BRYN MAWR AV', '2850', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING', 0, 0, 2012, 20, None, None, '26', None, None, 2002, None, None, None),
 (1806896, 'G635735', '2001-10-22', '0000X N HERMITAGE AV', '2850', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING', 1, 0, 1333, 12, None, None, '26', 1164687.0, 1900646.0, 2001, 41.88298425, -87.67071922, '(41.882984246, -87.670719218)')]

In [18]:
%%sql
select primary_type,location_description
FROM CHICAGO_CRIME_DATA
where location_description like '%SCHOOL%'

 * sqlite:///FinalDB.db
Done.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

In [ ]:
#Problem 6
#List the type of schools along with the average safety score for each type.

In [16]:
%%sql 
SELECT AVG(SAFETY_SCORE) AS AVERAGE 
FROM CHICAGO_PUBLIC_SCHOOLS_DATA

 * sqlite:///FinalDB.db
Done.

[(49.50487329434698,)]

In [33]:
%%sql 
SELECT "Elementary, Middle, or High School", AVG(SAFETY_SCORE) AS AVERAGE 
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
group by "Elementary, Middle, or High School"

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [ ]:
#Problem 7
#List 5 community areas with highest % of households below poverty line

In [28]:
%%sql
SELECT community_area_name, community_area_number, percent_households_below_poverty
FROM census_data
ORDER BY percent_households_below_poverty DESC
LIMIT 5;

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 54.0, 56.5),
 ('Fuller Park', 37.0, 51.2),
 ('Englewood', 68.0, 46.6),
 ('North Lawndale', 29.0, 43.1),
 ('East Garfield Park', 27.0, 42.4)]

In [ ]:
#Problem 8
#Which community area is most crime prone? Display the coumminty area number only.

In [29]:
%%sql
SELECT community_area_number
FROM CHICAGO_CRIME_DATA
GROUP BY community_area_number
ORDER BY COUNT(*) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0,)]

In [32]:
%%sql
SELECT community_area_number,count(*) count
FROM CHICAGO_CRIME_DATA
GROUP BY community_area_number
ORDER BY COUNT(*) DESC
LIMIT 1;

 * sqlite:///FinalDB.db
Done.

[(25.0, 43)]

In [ ]:
#Problem 9
#Use a sub-query to find the name of the community area with highest hardship index

In [31]:
%%sql 
select community_area_number, community_area_name, hardship_index 
from CENSUS_DATA 
where hardship_index=(select max(hardship_index) from CENSUS_DATA )

 * sqlite:///FinalDB.db
Done.

[(54.0, 'Riverdale', 98.0)]

In [ ]:
#Problem 10
#Use a sub-query to determine the Community Area Name with most number of crimes?

In [36]:
%%sql 
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER=(
SELECT COMMUNITY_AREA_NUMBER 
FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER 
ORDER BY COMMUNITY_AREA_NUMBER)

 * sqlite:///FinalDB.db
Done.

[]

In [38]:
%%sql 
SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME 
FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = (SELECT COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(*) DESC LIMIT 1);

 * sqlite:///FinalDB.db
Done.

[(25.0, 'Austin')]

In [46]:
%%sql 
SELECT COMMUNITY_AREA_NAME,COMMUNITY_AREA_NUMBER
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER=(
SELECT max(COMMUNITY_AREA_NUMBER)
FROM CHICAGO_CRIME_DATA
)

 * sqlite:///FinalDB.db
Done.

[('Edgewater', 77.0)]

In [40]:
%%sql
SELECT community_area_name
FROM CHICAGO_PUBLIC_SCHOOLS_DATA
WHERE community_area_number = (
    SELECT community_area_number
    FROM CHICAGO_CRIME_DATA
    GROUP BY community_area_number
    ORDER BY COUNT(*) DESC
    LIMIT 1
);

 * sqlite:///FinalDB.db
Done.

[('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',),
 ('AUSTIN',)]